.button {
  background-color: #DBE3FF;
  // background-color: rgb(255, 171, 64);
  border: none;
  padding: 1em;
  font-size: 3em;
  font-weight: 700;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;

color: rgba(102,51,153, .8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffe8+0,d6dbbf+100;Wax+3D+%231 */
background: rgb(254,255,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,232,1) 0%, rgba(214,219,191,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

html, body {
  height: 100%;
}
body {
  margin: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5db1+0,ef017c+100;Pink+3D+%231 */
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -.05em;
  }
}

#countdown {

  position:relative;
  top: 0;
  // color: #DBE3FF;
  //font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
  font-size: 32vw;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.animation {
  //-webkit-animation: fade-in 1s infinite;
}

#container {
  height: 70vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media all and (orientation:landscape) {
  /* Styles for Landscape screen */
  .button {
    font-size: 1.2em;
  }
  #container {
    height: 78vh;
  }
  #countdown {
    //font-size: 7em;
  }
}
