$counter-size: 7em;
$button-size: $counter-size / 3;

.button {
  background-color: initial;
  border: none;
  cursor: pointer;
  padding: .5em 1em .5em 1em;
  outline: none;
  font-size: $button-size;
  font-weight: 100;
  color: white;
  border-radius: 5px;
}

.button:hover {
  transition: background-color .3s linear;
  background-color: rgba(95, 95, 95, 0.2);
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -.05em;
  }
}

#countdown {
  font-weight: 100;
  color: white;
  //margin-top: 20vh;
  //margin-bottom: 20vh;
  font-size: $counter-size;
  /*
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
               */
}

// .animation {
//   -webkit-animation: fade-in 1s infinite;
// }

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-container {
  cursor: pointer;
  display: inline-block;
}

// .color-box {
//   position: relative;
//   top: 6px;
//   width: 70px;
//   display: inline-block;
//   height: 20px;
// }

.sign {
  cursor: pointer;
  margin: 1em 0 1em 0;
  display: inline-block;
}
