@import 'app/components/style';
@import 'app/components/nav';
@import 'css/fontello.css';

$main-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

html, body {
  height: 100%;
  margin: 0;
  font-family: $main-font;
  overflow: hidden;
}

section {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

main {
  overflow: hidden;
}

.about {
  height: 100vh;
  background-color: ivory;
}

.description {
  padding: 1em;
  margin: 0;
  max-width: 600px;
  min-width: 300px;
}

.left {
  margin-left: 3em;
}

.menu-background {
  width: 100%;
  position: fixed;
  background: #333131;
  color: white;
  z-index: 1;
  text-align: center;
  a {
    color: white;
  }
}

.footer-background {
  position: fixed;
  color: white;
  bottom: 0;
  z-index: 1;
  background: none;
}

#home {
  .menu-background {
    background: none;
  }
}

.menu-background h1 {
  font-style: normal;
  margin: 0;
  font-size: 1.2em;
  line-height: 3em;
}

.active-menu {
  background-color: #212121;
}

.dark {
  background-color: #333133;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

footer {
  font-size: small;
  text-shadow: 1px 1px 1px black;
  width: 100%;
  color: white;
  background-color: #333131;
  position: fixed;
  bottom: 0;
}

.footer-info {
  padding: 1em;
}









/* form starting stylings ------------------------------- */
.group {
  padding: 1em;
  position: relative;
  margin-top: 18px;
  input {
    text-overflow: ellipsis;
    font-size: 18px;
    background-color: transparent;
    padding: 10px 10px 10px 0;
    display: block;
    width: 275px;
    border: none;
    border-bottom: 1px solid #757575;
  }
  input:focus     { outline:none; }

  /* LABEL ======================================= */
  label          {
    color:#999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 30px;
    transition: 0.2s ease all;
  }

  /* active state */
  input:focus ~ label, input:valid ~ label    {
    top: 0;
    font-size: 16px;
  }

  /* BOTTOM BARS ================================= */
  .bar  {
    position: relative;
    display: block;
    // width: 300px;
  }
  .bar:before, .bar:after   {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
  }

  .bar:before {
    left: 50%;
  }

  .bar:after {
    right: 50%;
  }

  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
  }

  // /* HIGHLIGHTER ================================== */
  // .highlight {
  //   position: absolute;
  //   height: 60%;
  //   width: 300px;
  //   top: 25%;
  //   left: 0;
  //   pointer-events: none;
  //   opacity: 0.5;
  // }

  // /* active state */
  // input:focus ~ .highlight {
  //   animation: inputHighlighter 0.25s ease-in-out;
  // }

  // /* ANIMATIONS ================ */
  // @-webkit-keyframes inputHighlighter {
  //   from { background: gray; }
  //   to  { width:0; background:transparent; }
  // }
  // @-moz-keyframes inputHighlighter {
  //   from { background: gray; }
  //   to  { width:0; background:transparent; }
  // }
  // @keyframes inputHighlighter {
  //   from { background: gray; }
  //   to  { width:0; background:transparent; }
  // }
}




.rkmd-checkbox {
  padding: 2em 1em 1em 1em;
  .input-checkbox {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: -9px;

    input[type="checkbox"] {
      visibility: hidden;
      position: absolute;
      left: 7px;
      bottom: 7px;
      margin: 0;
      padding: 0;
      outline: none;
      cursor: pointer;
      opacity: 0;

      & + .checkbox:before {
        position: absolute;
        left: 4px;
        bottom: 10px;
        width: 18px;
        height: 18px;
        /*
        font-family: 'Material Icons';
        */
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        vertical-align: -6px;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';

        transition: all .2s ease;
        z-index: 1;
      }

      & + .checkbox:before { content: "❟"; color: #717171; }

      &:checked + .checkbox:before { content: "✖"; }

      &:active:not(:disabled) + .checkbox:before { transform: scale3d(0.88, 0.88, 1); }

      &:disabled + .checkbox:before { color: rgba(0,0,0,0.157) !important; }
    }
  }

  &.checkbox-light {
    label, .label { color: #FFF; }
    input[type="checkbox"] + .checkbox:before { color: #FFF; }
    input[type="checkbox"]:disabled + .checkbox:before { color: #5d5d5d !important; }

    &.checkbox-rotate {
      input[type="checkbox"] + .checkbox:before { border-color: #FFF; }
      input[type="checkbox"]:disabled + .checkbox:before { border-color: #5d5d5d !important; }
    }
  }

  label, .label { cursor: pointer; }
}
